.root {
	padding: 10px 0;
}

.scroll-content {
	display: flex;
	width: 5000;
	gap: 20px;
	padding-top: 5px;
}

ul {
	border-top: 2px solid #8080804a;
  margin-top: 5px;
  padding-top: 5px;
	list-style-type: none;
	li {
		display: inline-block;
		margin: 0 10px;
		color: grey;
		font-weight: bold;
	}
}
