.root {
	// background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.314);
	position: absolute;
	top: 6px;
	left: 6px;
	bottom: 6px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 460px;
	padding: 1rem 0.3rem;

	// height: 630px;
	// overflow-y: scroll;

	h4 {
		margin: 0.7rem 0;
	}
	z-index: 1;
}