.root {
	display: flex;
	gap: 0.8rem;
    width: calc(100% - 32px);
    justify-content: space-evenly;
    margin: 0 auto;
}

.region-container {
    display: flex;
	gap: 1rem;
    flex-direction: column;
    max-width: 140px;
}

.title {
    h3 {
        font-size: 0.9rem;
        text-align: center;
        font-weight: 400;
    }
}

.img {
    box-shadow: 1px 1px 5px #00000036;
}